//#Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

//#Font sizes
$font-size-XXXL: 4rem;
$font-size-XXL: 3.5rem;
$font-size-XL: 3rem;

$font-size-L: 1.5rem;
$font-size-M: 1.3rem;
$font-size-S: 1.1rem;
$font-size-XS: 1rem;
$font-size-XXS: 0.8rem;
